
*.toc
*.out
*.aux
*.log
*.cls
*.synctex.gz
akustik/vorbereitung/Protokoll.pdf
akustik/Protokoll/Protokoll.pdf
akustik/Protokoll/434170_428396_1A3_Protokoll.pdf
akustik/Protokoll/Protokoll.tex.bak
akustik/Protokoll/plots
kondensator/Protokoll/plots
kondensator/Protokoll/Protokoll.tex.bak
kondensator/Protokoll/Protokoll.pdf
kondensator/Protokoll/434170_428396_1E1_Protokoll.pdf
lc-schwingkreis/Protokoll/plots
kondensator/lc-schwingkreis/434170_428396_1E1_Protokoll.pdf
akustik/Protokoll/434170_428396_1A3_Protokoll.tex.bak
kondensator/Protokoll/434170_428396_1E1_Protokoll.tex.bak
lc-schwingkreis/Protokoll/434170_428396_1E2_Protokoll.tex.bak
kondensator/Protokoll/programme/plot.pdf
kondensator/Protokoll/protokoll.cls.bak
lc-schwingkreis/Protokoll/434170_428396_1E2_Protokoll.pdf
lc-schwingkreis/Protokoll/Programme/test2.pdf
lc-schwingkreis/Protokoll/Protokoll.pdf
lc-schwingkreis/Protokoll/Protokoll.tex.bak
lc-schwingkreis/Protokoll/434170_428396_1E3_Protokoll.pdf
